<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<style>
	.contain {
  		display: flex;
  		justify-content: center;
 	 	align-items: center;
 	 	height: 100vh;
	}
	table{
		 border-collapse: collapse;
	}
	.noB{
		border: none;
		padding-bottom: 20px;
	}
	.img{
		display: block; 
    	margin: 0 auto;
    	width: 200px;
    	height: 150px;
	}
</style>
</head>
<body>
	<div class="contain">
	<table border="1" width="80%" height="500">
		<colgroup>
    		<col style="width: 200px;">
    		<col style="width: 800px;">
    		<col style="width: 300px;">
  		</colgroup>
		<tr>
			<td>이름</td>
			<td>타이레놀</td>
			<td rowspan="4"><img src="/img/mimg/Mas Touch Cream.jpg" class="img"/></td>
		</tr>
		<tr>
			<td>Formulation</td>
			<td>크림</td>
			
		</tr>
		<tr>
			<td>Appearance</td>
			<td>흰색 크림</td>
			
		</tr>
		<tr>
			<td>Adminatir</td>
			<td>경구</td>
			
		</tr>
		<tr>
			<td colspan="3" class="noB">효과</td>
			
		</tr>
		<tr>
			<td colspan="3" class="noB">설명1</td>
			
		</tr>
		<tr>
			<td colspan="3" class="noB">설명2</td>
		</tr>
		<tr>
			<td colspan="3" class="noB">설명3</td>
		</tr>
		<tr>
			<td colspan="3" class="noB">설명4</td>
		</tr>
	</table>
	</div>
</body>
</html>